	body {
		background-color:			#FFFFFF;
		color:					#000000;
		font-size:				8.5pt;
		font-family:				Verdana, Arial, sans-serif;
		font-style:				normal;
		font-weight:				normal;
		text-decoration:			none;
		scrollbar-base-color:		#CCCCCC;
		scrollbar-arrow-color:		#999999;
		scrollbar-3dlight-color:		#EEEEEE;
		scrollbar-darkshadow-color:	#CCCCCC;
		scrollbar-face-color:		#EEEEEE;
		scrollbar-highlight-color:	#EEEEEE;
		scrollbar-shadow-color:		#999999;
		scrollbar-track-color:		#FFFFFF
	}

	a  {
		text-decoration:			none;
		color:					#000000;
		font-size:				8.5pt;
		font-family:				Verdana, Arial, sans-serif;
		font-weight:				normal
	}
	a:hover  {
		text-decoration:			none;
		color:					#CC0000
	}

	a.utilities  {
		text-decoration:			none;
		color:					#000000;
		font-size:				8pt;
		font-family:				Verdana, Arial, sans-serif;
		font-weight:				normal;
		font-style:				oblique
	}
	a.utilities:hover  {
		text-decoration:			none;
		color:					#CC0000
	}
	
	
	a.internal  {
		text-decoration:			none;
		color:					#CC0000;
		font-size:				8.5pt;
		font-family:				Verdana, Arial, sans-serif;
		font-weight:				normal
	}
	a.internal:hover  {
		text-decoration:			none;
		color:					#666666
	}

	a.menu  {
		color:					#FF3300;
		font-size:				8.5pt;
		font-family:				Verdana, Arial, sans-serif;
		font-style:				normal;
		font-weight:				normal;
		text-decoration:			none		
	}
	a.menu:hover  {
		text-decoration:			none;
		color:					#CC0000
	}

	a.theading  {
		color:					#000000;
		font-size:				8.5pt;
		font-family:				Verdana, Arial, sans-serif;
		font-style:				normal;
		font-weight:				bold;
		text-decoration:			none		
	}
	a.theading:hover  {
		color:					#CC0000
	}

	a.theadingb  {
		color:					#333333;
		font-size:				8.5pt;
		font-family:				Verdana, Arial, sans-serif;
		font-style:				oblique;
		font-weight:				bold
	}
	a.theadingb:hover  {
		color:					#CC0000
	}
	
	td {
		color:					#000000;
		font-size:				8.5pt;
		font-family:				Verdana, Arial, sans-serif;
		font-style:				normal;
		font-weight:				normal;
		text-decoration:			none		
	}

	form {
		display:					inline
	}

	input.text {
		padding:					1px;
		font-family:				Verdana, Arial, sans-serif; 
		font-size:				8.5pt; 
		color:					#000000; 	
		background:				#EEEEEE; 
		border-width:				1px; 
		border-style:				solid; 
		border-color:				#000000
	}
	
	input.submit {
		padding:					1px;
		font-family:				Verdana, Arial, sans-serif; 
		font-size:				8.5pt;
		font-weight:				normal;
		font-style:				oblique; 
		color:					#000000; 	
		background:				#EEEEEE; 
		border:					1px; 
		border-style:				solid; 
		border-color:				#000000
	}

	select { 
		font-family:				Verdana, Arial, sans-serif; 
		font-size:				8.5pt; 
		color:					#000000; 	
		background:				#EEEEEE; 
		border:					1px; 
		border-style:				solid; 
		border-color:				#000000
	}

	fieldset {
		font-family:				Verdana, Arial, sans-serif; 
		font-size:				8.5pt;
		color:					#000000;
		background:				#FFFFFF;
		border-color:				#000000;
		border-style:				solid;
		border-width:				1px;
		font-style:				oblique
	}

	.titlea {
		color:					#FFFFFF;
		font-size:				10pt;
		font-family:				Verdana, Arial, sans-serif;
		font-style:				normal;
		font-weight:				normal;
		text-decoration:			none		
	}

	.titleb {
		color:					#FFFFFF;
		font-size:				10pt;
		font-family:				Verdana, Arial, sans-serif;
		font-style:				normal;
		font-weight:				bold;
		text-decoration:			none		
	}

	.titlea-positive {
		color:					#666666;
		font-size:				10pt;
		font-family:				Verdana, Arial, sans-serif;
		font-style:				normal;
		font-weight:				normal;
		text-decoration:			none		
	}

	.titleb-positive {
		color:					#666666;
		font-size:				10pt;
		font-family:				Verdana, Arial, sans-serif;
		font-style:				normal;
		font-weight:				bold;
		text-decoration:			none		
	}

	.advanced-search {
		color:					#333333;
		font-size:				8pt;
		font-family:				Verdana, Arial, sans-serif;
		font-style:				normal;
		font-variant:				small-caps;
		font-weight:				bold;
		text-decoration:			none		
	}
	
	.copyright {
		color:					#999999;
		font-size:				7pt;
		font-family:				Verdana, Arial, sans-serif;
		font-style:				normal;
		font-weight:				normal;
		text-decoration:			none		
	}
	.copyright:hover  {
		text-decoration:			none;
		color:					#CC0000
	}

	.menuskin {
		position: 		absolute;
		width:			250px;
		background-color:	#EEEEEE;
		border:			1px solid black;
		font:			normal 8pt Verdana, Arial, sans-serif;
		z-index:			100;
		padding-left:		5px;
		padding-right:		5px;
		padding-top:		3px;
		padding-bottom:	8px;
		visibility:		hidden
	}

	.menuskin a{
		text-decoration:	none;
		color:			black;
		padding-left:		10px;
		padding-right:		10px
	}

	#mouseoverstyle {
		background-color:	highlight
	}

	#mouseoverstyle a {
		color:			white
	}
.ontab {

						height:			22px;
			white-space:		nowrap;
			font-size:		10pt;
			font:			Menu;
			font-family:		Verdana, Arial, sans-serif;
			cursor:			default !important;
			font-weight:		700 !important;
			white-space:		nowrap;
			padding:			3px 9px 1px 9px;
			color:			#000000 !important;
			background-color:	#FFFFFF !important;
			top:				1px;
			z-index:			10000;
			border-bottom:		1px;
			border:			1px solid #000000;
}
.offtab {
						font:			inherit;
			position:			relative;
			border:			1px solid #000000;
			padding:			2px 9px 1px 9px;
			background-color:	#CCCCCC;
			color:			#303036;
			z-index:			100;
			border-bottom:		1px
			height:			22px;
			white-space:		nowrap;
			font-size:		10pt;
			font:			Menu;
			font-family:		Verdana, Arial, sans-serif;
			cursor:			default !important;
			font-weight:		700 !important;
			white-space:		nowrap;
}
.tabpadding {
	border-bottom: solid 1px #777777;
}

.tabheading {
height:			22px;
			white-space:		nowrap;
			font-size:		10pt;
			font:			Menu;
			font-family:		Verdana, Arial, sans-serif;
			cursor:			default !important;
			font-weight:		700 !important;
			white-space:		nowrap;
			z-index:			10000
}




.content {
	visibility: hidden;
	display: none;
	position: relative;
	top: 0;
}
